<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.metalojiq.classfinder.someapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="cf" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AccomImageSlider"
            android:label="Accommodation Images" />
        <activity
            android:name=".activity.Search"
            android:label="@string/search_accommodation" />
        <activity
            android:name=".activity.SearchResults"
            android:label="Search results" />
        <activity android:name=".activity.Users" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activity.expirimental.Tabbed"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.expirimental.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activity.Runner"
            android:label="@string/title_activity_runner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NewAccommodation"
            android:label="@string/title_activity_new_accommodation" />
        <activity
            android:name=".activity.SignUp"
            android:label="Sign Up" />
        <activity
            android:name=".activity.BooksList"
            android:label="@string/title_activity_books_list">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".activity.NewBooks" />
        <activity android:name=".activity.BooksSearchResult">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.VenueFinder" />
        <activity
            android:name=".activity.network.Networks"
            android:label="@string/title_networks" />
        <activity android:name=".activity.network.NetworksCatItem" />
        <activity android:name=".activity.network.NetworkPostActivity" />
        <activity
            android:name=".activity.HouseActivity"
            android:label="@string/title_activity_house" />
        <activity android:name=".activity.AddHouseActivity" />
        <activity android:name=".activity.FragmentSurrogateActivity" />
        <activity android:name=".activity.HouseAccomsActivity"></activity>
    </application>

</manifest>